.authorBtn {
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #00000063;
	padding: 2px 10px;
	background: #fff;
	color: #000000d4;
	height: auto;
	cursor: pointer;
}

.authorBtn:hover {
	color: #000;
}